<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Gestion Location</title>
</head>
<body>
	<div align="center">
		<h1>Credentials List</h1>
		<a href="/newCredential">Create New Credentiel</a> <br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Credential ID</th>
					<th>username</th>
					<th>password</th>
					<th>etat</th>
					<th>employer</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cre : ${credential}">
					<td th:text="${cre.idCredentials}">Client ID</td>
					<td th:text="${cre.username}">username</td>
					<td th:text="${cre.password}">password</td>
					<td th:text="${cre.etat}">etat</td>
					<td th:text="${cre.employe}">employe</td>

					<td><a href="newCredentials">Ajouter</a> 
					&nbsp;&nbsp;&nbsp; 
					<a th:href="@{'/editCredentials/' + ${cre.idCredentials}}">Edit</a>
					 &nbsp;&nbsp;&nbsp;
					<a th:href="@{'/deleteCredentials/' + ${cre.idCredentials}}">Delete</a></td>
				</tr>
				
			</tbody>
		</table>
		<div>
			<a href="/">Return</a>
		</div>
	</div>
</body>
</html>