<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Credential</title>
</head>
<body>
	<div align="center">
		<h1>Edit credentials</h1>
		<br />
		<form action="#" th:action="@{/saveCredentials}" th:object="${credential}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>				
					<td>idCredentials:</td>
					<td>
						<input type="text" th:field="*{idCredentials}"  readonly="readonly" />
					</td>
				</tr>			
				<tr>				
					<td>username:</td>
					<td>
						<input type="text" th:field="*{username}" />
					</td>
				</tr>
				<tr>
					<td>password:</td>
					<td><input type="text" th:field="*{password}" /></td>
				</tr>
				<tr>
					<td>etat:</td>
					<td><input type="text" th:field="*{etat}" /></td>
				</tr>			
				<tr>
					<td>employe:</td>
					<td><input type="text" th:field="*{employe}" /></td>
				</tr>	
												
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>