<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<div>
	<div>
		<form action="/allProducts">
			<input type="submit" value=" Product" />
		</form>
		<br>
		<form action="/allClients">
			<input type="submit" value="Clients" />
		</form>
		<br>
		<form action="/allAssurances">
			<input type="submit" value="Assurance" />
		</form>
		<br>
		<form action="/allCredentials">
			<input type="submit" value="Credentials" />
		</form>
		<br>
		<form action="/allAgences">
			<input type="submit" value=" Ageneces" />
		</form>
	</div>
	<br>
		<form action="/allEmployes">
			<input type="submit" value=" Emplyeés" />
		</form>
	</div>

</div>
</html>